<h1>Events : </h1>

<ol>
  <% @events.each do |e| %>
      <li>
        <strong><%= e.name %></strong> <br>
        <%= e.date %>, <em><%= e.location %></em> <br>
        Hosted by : <strong><%= e.creator.name %></strong> <br>
        <strong><%= link_to "Details Here", event_path(e) %></strong> <br>
      </li>
  <% end %>
</ol>